<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.AttendanceSystem">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permisssion.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.AttendanceSystem.student_tries"
            android:label="@string/title_activity_student_tries"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.example.AttendanceSystem.Main2Activity"
            android:label="content_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.AttendanceSystem.Admin" />
        <activity android:name="com.example.AttendanceSystem.teacher" />
        <activity android:name="com.example.AttendanceSystem.Student" />
        <activity android:name="com.example.AttendanceSystem.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>